<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <header>
      <div class="hero-image">

      <%include ./partials/user-buttons.ejs %>

        <div class="hero-text">
          <div class="container">
            <h1 class="display-3">Gathered.</h1>
            <p class="lead">A community for connecting with restaurants, farms, markets and other sources of local, sustainable food.</p>
            </div> <!--end container-->
        </div> <!--end jumbotron -->
      </div> <!--end hero-image -->
    </header> <!-- end header -->

    <!-- NAVBAR -->
    <% include ./partials/navbar.ejs %>
    <!-- end NAVBAR -->

  <div class="container">


    <h2 class="main-h2">Local Vendors</h2>
      <div class="cards-container">
    <% for (let i = 0; i < 4; i++) { %>
      <a href="/vendors/<%=vendors[i].id%>"><div class="vendor-card <%=vendors[i].category%>">
        <div class="vendor-card-header">
          <p id="<%=vendors[i].category%>"><%=vendors[i].category%></p>
          <h4 class="vendor-name"><%=vendors[i].name%></h4>
          <p class="vendor-loc"><%=vendors[i].location.city%>, <%=vendors[i].location.state%></p>
        </div> <!-- end vendor-card-header -->
        <hr>
        <p class="vendor-about"><%=vendors[i].about%></h4>
        <div class="read-more"></div>
      </div></a> <!-- end vendor-card -->
    <% } %>
  </div> <!-- end cards container -->
    <a href="/vendors"><h3>Browse all vendors</h3></a>
  </div> <!-- end container -->
    <!-- BOOTSTRAP SCRIPTS -->
    <% include ./partials/bootscript.ejs %>
    <!-- end BOOTSTRAP SCRIPTS -->
  </body>
</html>
