<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>vendor show page</h1>
    <a href="/vendors/<%=vendor.id%>/edit">Edit Vendor</a>

    <div class="vendor-card">
      <h4><%=vendor.category%></h4>
      <h3><%=vendor.name%></h3>
      <p><%=vendor.about%></p>
      <ul>
        <li><a href="#"><%=vendor.contact.email%></a></li>
        <li><a href="#"><%=vendor.contact.facebook%></a></li>
        <li><a href="#"><%=vendor.contact.twitter%></a></li>
        <li><a href="#"><%=vendor.contact.website%></a></li>
      </ul>
    </div>
  </body>
</html>
